<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ATNToy-Shop</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="css/main.css">
</head>
<style media="screen">
     body{
          background-color: yellow;
     }
</style>
<body>
     <div class="navbar navbar-default navbar-static-top" role="navigation" style="background-color:black;height:200px;">
     <div class="container">
        <div class="navbar-header" style="border:2px solid white;height:100px;">
           <a class="navbar-brand" href="/"  style="font-size:30px;color:white;top:20px">ATNToy-Shop</a>
                <br>
            <div><p style="font-size:20px;color:white;top:20px">Best toy seller in Vietnam</p></div>

        </div>
        <ul class="nav navbar-nav navbar-right " style="border:2px solid white;height:100px;width:100%">

        <li><a href="/product" style="font-size:30px;color:white;top:20px">Products</a></li>

        <li><a href="/bill" style="font-size:30px;color:white;top:20px">Bills</a></li>

        <li><a href="/search" style="font-size:30px;color:white;top:20px">Search</a></li>

        <li><a href="/cart" style="font-size:30px;color:white;top:20px">Cart</a></li>

        <li><a href="/productedit" style="font-size:30px;color:white;top:20px">EditProduct</a></li>

        <li><a href="/manage" style="font-size:30px;color:white;top:20px">ManageStaff</a></li>

        <li><a href="/employee" style="font-size:30px;color:white;top:20px">Staffs</a></li>

     <li><a href="/home" style="font-size:30px;color:white;top:20px">About</a></li>
        </ul>
    </div>
     </div>

     <div class="main">
