<link rel="stylesheet" href="css/home.css">

<%- include("section/_header") %>
<h1>===== FRONT/ABOUT PAGE =====</h1>
<div id="flexhere">
     <img src="img/c6fcf239899e5f86a0418712a2f6d871.png" alt="Facade" class="front">
     <label>ATN shop is currently one of the best toys manufacturer in Vietnam, providing over thousands of bills and gained lots of trust of different family on how safety the quality of our toys is </label>
</div>
<br>
<br>
<br>
<div>
     Copyright by ATNShop
</div>

<%- include("section/_footer") %>
